body {
  font-family: sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.logo h1 {
  margin-left: 10px;
}

.navigation-links {
  margin-left: 30px;
}

.navigation-links a {
  color: #000;
  margin-left: 10px;
  text-decoration: none;
}

.property {
  display: flex;
  margin: 30px;
  text-decoration: none;
  color: #000;
}

.property-info {
  margin-left: 30px;
}

.property-image-thumbnail {
  object-fit: cover;
  border-radius: 10px;
}

.property-image {
  object-fit: cover;
  border-radius: 10px;
  height: 300px;
  width: 450px;
}

.property-name {
  color: rgb(0, 106, 255);
}

.property-price {
  font-size: 24px;
}

.individual-property-container {
  display: flex;
}

.property-images {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
